/* All MediaQueries handled with mobile first */

/* ^media of navbar*/

/* Desktop view */
@media (max-width: 768px) {
  nav .container .burger {
    display: flex;
  }

  nav .container {
    flex-direction: column;
    align-items: stretch;
  }

  nav .container .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  #nav-toggle:checked + .burger + .nav-links {
    max-height: 300px;
    margin-top: 2rem;
  }
}

/* ^media of navbar*/

/* ^media of header section */
@media screen and (min-width: 1200px) {
  header .container {
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: row;
  }

  header .container > * {
    width: 40%;
  }

  header .container .header-content .buttons-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
  }

  header .container > :nth-child(1) {
    text-align: justify;
  }
  header .container .header-content .buttons-group > :nth-child(1) {
    border-radius: 0 100vh 100vh;
  }
}

/* ^media of header section */

/* ^media of chefs section */
@media (min-width: 768px) and (max-width: 1199px) {
  .chefs .container .bundle-of-cards .card {
    width: calc((100% - 1.875rem) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .chefs .container .bundle-of-cards .card {
    width: calc((100% - 2 * 1.875rem) / 3);
  }
}

/* ^media of chefs section */

/* ^media of gallery section */
@media (max-width: 992px) {
  .gallery .container .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }

  /* Reset manual placements */
  .gallery .container .parent > div {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  /* Order control to match visual layout from real template */
  .gallery .container .parent .div1 {
    order: 1;
  }
  .gallery .container .parent .div2 {
    order: 2;
  }
  .gallery .container .parent .div3 {
    order: 3;
  }
  .gallery .container .parent .div4 {
    order: 4;
  }
  .gallery .container .parent .div5 {
    order: 5;
  }
  .gallery .container .parent .div6 {
    order: 6;
  }
  .gallery .container .parent .div7 {
    order: 7;
  }
}

@media (max-width: 576px) {
  .gallery .container .parent {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .gallery .container .parent .div1 {
    order: 1;
  }
  .gallery .container .parent .div2 {
    order: 2;
  }
  .gallery .container .parent .div3 {
    order: 3;
  }
  .gallery .container .parent .div4 {
    order: 4;
  }
  .gallery .container .parent .div5 {
    order: 5;
  }
  .gallery .container .parent .div6 {
    order: 6;
  }
  .gallery .container .parent .div7 {
    order: 7;
  }

  .gallery .container .parent > div {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}

/* ^media of gallery section */

/* ^media of contact section */
@media screen and (min-width: 993px) {
  .contact .container form :is(div) > * {
    width: calc(calc(100% - 10px) / 2);
  }

  .contact .container .contact-methods > div {
    width: calc(calc(100% - 1.25rem) / 2);
  }
}
/* ^media of contact section */

/* ^media of footer */

@media screen and (max-width: 1200px) {
  footer .container :is(.about, .get-in-touch) {
    width: calc(calc(100% - 20px * 2) / 2);
    order: 0;
  }

  footer .container .Subscription {
    width: 100%;
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  footer .container :is(.about, .get-in-touch) {
    width: calc(calc(100% - 20px * 2) / 4);
  }

  footer .container .Subscription {
    width: calc(calc(100% - 20px * 2) / 2);
  }
}
@media screen and (max-width: 768px) {
  footer .container :is(.about, .get-in-touch, .Subscription) {
    width: 100%;
    order: 0;
  }
}

/* ^media of footer */
